<!DOCTYPE html>
<html>
  <head>
    <title>Recipify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>Home</h1>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= yield %>
  </body>
</html>
